# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environnement virtuel
.venv/
venv/

# Base de données
db.sqlite3

# Fichiers de configuration locaux
.env

# Dossiers de médias et statiques générés
/media
/staticfiles
